torch 
torchaudio 
torchvision 
torchsummary 
jupyterhub 
jupyterlab<3 
numpy 
pandas 
opencv-contrib-python-headless 
opencv-python-headless 
Pillow 
scikit-image 
scikit-learn 
matplotlib 
japanize-matplotlib 
scipy 
tensorboardX 
albumentations 
librosa 
mlflow 
timm 
tqdm
